body {
  height: 100vh;
}

#Landing {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./condoMarinaIsle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

#MobileMenu {
  display: none;
  background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5) ), url('./condoMarinaIsle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#test {
  background-color:rgba(250,250,250,0.8);
  height: 100%;
  padding-top: 75px;
}

ul.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 75px;
  width: 100%;
}

.hamburger {
  display:none;
}

@media (max-width: 900px) {
  .nav-menu li.nav { display: none;}
  .hamburger {
    display: inline-block;
    color: gray;
    text-align: center;
    font-size: 1.25em;
    border: 1px solid white;
    border-radius: 5px;
    opacity: .5;
    width: 35px;
    height: 35px;
    background-color: white;
    margin: 50px;
    position: absolute;
    top: 5px;
    left: 5px
  }
}
.nav-menu li {
  color: white;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.nav-menu li.logo {
  background-image: url(./logo_white.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 400px;
  margin-top: -190px;
}

.bootstrap-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -90px;
}

.potential {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.h1-potential {
  font-size: 2.5em;
  text-align: center;
  color: white;
  font-family: 'Oranienbaum', serif;
}

.h1-potential span.capital {
  font-size: 155%;
}

.down-arrow {
  height: 45px;
  width: 95px;
  padding-bottom: 25px;
}

#LandingPartTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5DC;
}

.diagonal-sunset-image {
  margin: 100px 0;
  background-image: url('./sunsetDiamond.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 200px;
}

.lorem-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

p.filler {
  width: 50%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#LandingPartThree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.diagonal-woman-image {
  margin: 100px 0;
  background-image: url('./skyDiamond.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 200px;
}

#LandingPartFour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5DC;
}

.diagonal-glass-image {
  margin: 100px 0;
  background-image: url('./glassViewDiamond.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 200px;
}

#LandingPartFive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.diagonal-palm-image {
  margin: 100px 0;
  background-image: url('./palmsDiamond.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 200px;
}

#RequestInfo {
  background-color: #71879C;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.request-button {
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  opacity: 55%;
  text-align: center;
  padding: 5px;
  font-family: 'Oranienbaum', serif;
}

.request-button:hover {
  transition: all 1s ease-in-out;
  color: #A7E7FF;
  border: 1px solid #A7E7FF;
}

.request-button h5 {
  padding: 5px 10px;
  margin-top: 0.5rem;
}

.learn-more {
  color: #71879C;
  font-family: 'Oranienbaum', serif;
}

.lorem-title h1 {
  color: #71879C;
  font-family: 'Oranienbaum', serif;
}

#Map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E2E0E0;
}

/*mobile list styling */
.mobileNav{
  display: flex;
  flex-direction: column;
  background-color: rgb(250,250,250,0.3);
  list-style: none;
  align-items: center;

}
/*mobile list links styling */
#residenceLink a,#amenitiesLink a,#galleryLink a,#locationLink a,#mediaLink a,#contactLink a {
  text-decoration: none;
  font-color: #0F3559;
}
/*mobile list styling*/
#residenceLink,#amenitiesLink,#galleryLink ,#locationLink,#mediaLink,#contactLink {
  font-color: #0F3559;
  font-type: roboto;
  font-weight: 400;
  type-decoration: none;
}
/* nested list on click */
.condoUnits{
  display:flex;
  flex-direction: column;
  list-style: none;
  display:none;
  }
#unitOne,#unitTwo{
  margin-left: -20px;
}
